*.lnk
images/
!images/boom.png
!images/chest.png
!images/enemy-bat.png
!images/enemy-big-flame.png
!images/enemy-flame.png
!images/enemy-green.png
!images/enemy-wizard.png
!images/enemy-knight.png
!images/hearts.png
!images/knight-orange.png
!images/skull.png
!images/treasure.png
test.js
test.html
creds.txt
changes.txt
settings.js
back-test.jpg
