*.lnk
web/images/
!web/images/boom.png
!web/images/chest.png
!web/images/enemy-bat.png
!web/images/enemy-big-flame.png
!web/images/enemy-flame.png
!web/images/enemy-green.png
!web/images/enemy-wizard.png
!web/images/enemy-knight.png
!web/images/hearts.png
!web/images/knight-orange.png
!web/images/skull.png
!web/images/treasure.png
web/settings.js
web/back-test.jpg
