let gameSettings = {
    "channel": "",
    "clientId": "",
    "roundTime": "15000",  // 15000 = 15 seconds
    "healChanceMin": 1,
    "healChanceMax": 3, // chance the item heals instead of doing damage
    "healBackfireChanceMin": 1, 
    "healBackfireChanceMax": 5, // chance the item heals the boss instead
    "defaultPlayerImage": "images/knight-orange.png" // default image to use if user has invalid or default twitch profile image 
};

let enemies = {
bosses:[
    {name: 'Orcy McOrcinton', image: 'images/enemy-green.png', health: 100, minAttack: 2, maxAttack: 8},
    {name: 'Big Flame', image: 'images/enemy-big-flame.png', health: 80, minAttack: 2, maxAttack: 4},
],
regular:[
    {name: 'Wizard', image: 'images/enemy-hood.png', health: 15, minAttack: 1, maxAttack: 2},
    {name: 'Knight', image: 'images/enemy-knight.png', health: 10, minAttack: 3, maxAttack: 4},
    {name: 'Bat', image: 'images/enemy-bat.png', health: 5, minAttack: 1, maxAttack: 1},
    {name: 'Flame', image: 'images/enemy-flame.png', health: 5, minAttack: 1, maxAttack: 1}
]
};
