body{
    overflow: hidden;
    /* background-image: url('back-test.jpg'); */
    background-position:center;
}

.bossBox{
    /* margin: 0;
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%); */
    height: 350px;
    width: 300px;
}

.boss{
    margin-left: 75px;
    width: 150px;
    height: 150px;
    background-image: url('goteem.png');
    background-repeat: no-repeat;
    background-position: center;
}

.statusMessage
{
    font-size:14px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    color:white;
}

.fighters
{
    padding-left:4%;
    padding-top:10px;
    height: 150px;
    width: 300px;
    font-size: 12px;
    text-align: center;
    color:white;
}

.fighter1{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;    
}

.fighterImage{
    background-image: url('knight-orange.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:55px;
    width:55px;
    margin:2px;
    text-align:center;
}

.fighterItem{
    /* margin-top:5px; */
    margin-left: 40%;
    height:15px;
    width:15px;
    background-image: url('chest.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    visibility: hidden;
}

.fighter2{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;
}

.fighter3{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;
}

.fighter4{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;
}

.topRow1{
    float:left;
    position:fixed;
    height:360px;
    width:640px;
    overflow: hidden;
}
.topRow2{
    float:left;
    position:fixed;
    left:640px;
    height:360px;
    width:640px;
    overflow: hidden;
}
.topRow3{
    float:left;
    position:fixed;
    left:1280px;
    height:360px;
    width:640px;
    overflow: hidden;
}