body{
    overflow: hidden;
    background-image: url('back-test.jpg');
    background-position:center;
}

.bossBox{
    height: 350px;
    width: 300px;
    visibility: hidden;        
}

.boss{
    margin-left: 75px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.statusMessage
{
    font-size:14px;
    height:40px;
    font-weight: bold;
    text-align: center;
    color:white;
    overflow: hidden;
}

.players
{
    padding-left:4%;
    padding-top:2px;
    height: 150px;
    width: 300px;
    font-size: 12px;
    text-align: center;
    color:white;
}

.player0{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;    
}

.playerImage{
    background-image: url('images/knight-orange.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:55px;
    width:55px;
    margin:2px;
    text-align:center;
}

.playerItem{
    margin-left: 40%;
    height:15px;
    width:15px;
    background-image: url('images/chest.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    visibility: hidden;
}

.player1{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;
}

.player2{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;
}

.player3{
    float:left;
    padding: 5px;
    width:24%;
    overflow: hidden;
    visibility: hidden;
}
